{% extends "base.html" %}
{% block title %}Login - CI-CD Store{% endblock %}
{% block content %}
    <div class="auth-form">
        <h1>Login</h1>
        {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="username">Username</label><br>
                <input type="text" name="username" id="username" required>
            </p>
            <p>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" required>
            </p>
            <button class="btn" type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
{% endblock %}